.App {
  padding-right: 100px;
  padding-left: 100px;
}

/* nav bar */
nav {
  background-color: #f5f5f5;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
}

nav li {
  padding: 5px 10px;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: underline;
}

/* about me section */
.about {
  background-size: cover;
  background-attachment: fixed;
}